<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
 
    <bean id="ClientePDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.ClientePDF"></bean>
    <bean id="TurnoPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.TurnoPDF">
    </bean>
    <bean id="PrescriptorPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.PrescriptorPDF">
    </bean>
    <bean id="VendedorPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.VendedorPDF">
    </bean>
    <bean id="KitAtencionPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.KitAtencionPDF">
    </bean>
    <bean id="IntervencionPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.IntervencionPDF" />
    <bean id="CompraDeUrgenciaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.CompraUrgenciaPDF" />
    <bean id="DemandaInsatisfechaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.DemandaInsatisfechaPDF" />
    <bean id="IntervSalidaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.IntervSalidaPDF" />
    <bean id="PracticasDispensacionPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" >
        <constructor-arg name="title" value="Reporte Buenas Practicas de Dispensacion"/>
    </bean>
    <bean id="PracticasPrescripcionPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" >
        <constructor-arg name="title" value="Reporte Buenas Practicas de Prescripción"/>
    </bean>
    <bean id="InventarioRutinarioPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="VentaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="PreVentaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="NotaAbonoPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="VentaConsultaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="PreVentaConsultaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="CorteCajaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.CorteCajaPDF" />
    <bean id="FCorteCajaPDF" class="pe.gob.minsa.geniusplex.farmacia.farmacotecnia.viewPDF.CorteCajaPDF" />
    <bean id="IntervencionConsultaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="PRMPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="PRMConsulta" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="MedidaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="HFTPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="DocumentosPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="DevolucionPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="FarmacotecniaIngresosExcel" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="ConsumoPromedioMensualPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="EquiposPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="GenericPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="CuentaCorrientePDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="PuntoDeVentaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="ComponentePDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf" />
    <bean id="ConsumoPacientePDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.ConsumoPacientePDF" />
    <!--<bean id="ConsumoSalidaPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.ConsumoSalidaPDF"></bean>-->
    <bean id="SubComponentePDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.GenericPdf"></bean>
    <bean id="RAMPDF" class="pe.gob.minsa.geniusplex.farmacia.dispensacion.viewPDF.RAMPDF"></bean>
    <bean id="TCVPDF" class="pe.gob.minsa.geniusplex.farmacia.farmacotecnia.viewPDF.TarjetaControlVisiblePDF"></bean>

</beans>
